body {
  margin: 0;
}

.standard-form {
  width: 30%; 
  margin: 30px auto;
}

.img-thumbnail {
  padding: 0;
}

.show-view img {
  width: 100%;
}

.show-view {
  margin-bottom: 25px;
}

.show-view .card-body{
  padding: 0;
}

.figure {
  width: 100%;
}

.figure-caption {
  padding: 15px;
}

.delete-form {
  display: inline;
}